{% extends 'base.html.twig' %}

{% block title %}Hello FormController!
{% endblock %}

{% block body %}

	{{form_start(subsriber_form, {'attr': {'id': 'custom_subscriber_form', 'class': 'some_custom_class'}})}}
	{{form(subsriber_form)}}
		{{form_end(subsriber_form)}}

	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
			<label for="exampleFormControlInput1">Are you a robot</label>
			{{form_widget(registrationForm.captchaCode)}}
			</div>
		</div>
	</div>


	{% endblock %}
